.footer {
  &__up {
    background-image: url("../../../public/images/footer-up-bg.png");
    background-size: cover;
    min-height: 143px;
    display: flex;
    align-items: center;
  }

  &__content {
    max-width: var(--max-width);
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    color: var(--secondary-color);

    @media only screen and (max-width: 767px) {
      flex-direction: column;
      gap: 15px;
      padding: 15px;
    }

    &-left {
      flex: 1;
      h3 {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 34px;
        margin-bottom: 10px;
      }

      p {
        font-weight: 400;
        @media only screen and (max-width: 767px) {
          text-align: center;
          margin-bottom: 20px;
        }
      }
    }

    &-right {
      flex: 1;
    }
  }

  .help-email {
    margin-inline-start: 40px;
    width: 416px;
    height: 64px;
    border-radius: var(--border-radius-lg);
    background-color: var(--secondary-color);
    display: flex;
    overflow: hidden;
    padding: 5px;

    @media only screen and (max-width: 767px) {
      margin-inline-start: 0;
    }

    input {
      flex: 1;
      border-width: 0;
      outline: none;
      padding: 10px 30px;
      color: var(--text-color);
      font-size: 1rem;
      font-family: inherit;

      &::placeholder {
        color: var(--text-light-color);
      }
    }

    button {
      background-color: var(--primary-color);
      border-radius: var(--border-radius-lg);
      border-width: 0;
      height: 54px;
      width: 78px;
      cursor: pointer;
    }
  }

  &__low {
    min-height: 107px;
    background: url("../../../public/images/footer-down-bg.png");
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-content {
      max-width: var(--max-width);
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 45px;

      nav {
        color: var(--text-color);
        a {
          padding: 0 15px;
          font-weight: 400;
        }
      }
    }
  }

  &__social-links {
    list-style: none;
    display: flex;
    gap: 10px;

    li {
      background-color: var(--secondary-color);
      height: 44px;
      width: 44px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--border-color);
      a {
        line-height: 0;
      }
    }
  }

  &__copyright{
    a{
      color: var(--primary-color);
    }
  }
}
