.flights-banner {
    min-height: 290px;
    background: linear-gradient(0deg, rgba(3, 16, 23, 0.5), rgba(3, 16, 23, 0.5)), url("../../../public/images/flights-banner.jpg");
    background-size: cover;
    padding-top: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: var(--secondary-color);
        text-align: center;
        font-family: inherit;
        font-size: 3.25rem;
        font-weight: 600;
        margin-bottom: 25px;
        @media only screen and (max-width: 767px) {
            font-size: 1.5rem;
        }
        margin-bottom: 5px;

    }
}