.filters {
  background: var(--secondary-color);
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  min-height: 200px;
  overflow: hidden;

  &__header{
    background-color: var(--primary-color);
    padding: 30px 18px 20px;
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);

    h2 {
      font-size: 1.125rem;
      font-weight: 500;
    }
    span{
      font-size: 0.875rem;
      font-weight: 400;
    }
  }

  &__body{
    padding: 0 25px 30px;

    h6{
      font-size: 1rem;
      font-weight: 500;
      color: var(--text-dark-color);
      margin: 30px 0;
    }
  }

  .checkbox-group{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border-color);
  }
}
